@model List<Utility.Entity>
@using Dolphin.Controllers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Ciao @HomeController.utenteLoggato.Nome;
</body>
</html>
