<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="3; url=/Home/Index/" />
    <title>Dolphin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <script src="~/js/site.js"></script>

</head>
<body class="login">
    <!-- header starts here -->
    <div id="facebook-Bar">
        <div id="facebook-Frame">
            <div id="logo"> <a href="#">Dolphin</a> </div>
            <div id="header-main-right">
                <div id="header-main-right-nav">
                    <form method="post" action="/Home/Valida" id="login_form" name="login_form">
                        <table border="0" style="border:none">
                            <tr>
                                <td><input type="text" tabindex="1" id="email" placeholder="Email" name="email" class="inputtext radius1" value="" /></td>
                                <td><input type="password" tabindex="2" id="pass2" placeholder="Password" name="pass" class="inputtext radius1" /></td>
                                <td><input type="submit" class="fbbutton" name="login" value="Login" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input id="persist_box" type="checkbox" name="persistent" value="1" checked="1" />
                                        <span style="color:#ccc;">Keep me logged in</span>
                                    </label>
                                </td>
                                <td><label><a href="" style="color:#ccc; text-decoration:none">forgot your password?</a></label></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row"><div class="alert alert-success" role="alert">
    Registrazione avvenuta con successo! Verrai reindirizzato alla pagina di LogIn
</div></div>
    
    <div>
        <div class="logo" style="float:left;">
            <a href="index.html" title=""><img src="~/img/Logo Progetto 5.jpg" style="border-radius: 50%;width: 600px;" alt="" /></a>
        </div><!--logo end-->
        <div class="loginbox radius">
            <h2 style="color:#141823; text-align:center;">Benvenuto su Dolphin</h2>
            <div class="loginboxinner radius">
                <div class="loginheader">
                    <h4 class="title">Connettiti con gli amici.</h4>
                </div>
                <!--loginheader-->
                <div class="loginform">
                    <form id="login" action="/Home/Salva/" method="post" onsubmit="return controlla_registrazione();">
                        <p>
                            <input type="text" id="nome" name="nome" placeholder="Nome" value="" class="radius mini" required />
                            <input type="text" id="cognome" name="cognome" placeholder="Cognome" value="" class="radius mini" required />
                        </p>
                        <p>
                            <input type="tel" id="telefono" name="telefono" placeholder="Numero di Cellulare" required />
                        </p>
                        <p>
                            <input type="text" id="email" name="email" placeholder="Email" value="" class="radius" required />
                        </p>
                        <p>
                            <input type="password" id="pass" name="pass" placeholder="Password" class="radius" required />
                        </p>
                        <p>
                            <input type="password" id="confermapass" name="confermapass" placeholder="Conferma Password" class="radius" required />
                        </p>
                        <p>
                            <input type="text" id="indirizzo" name="indirizzo" placeholder="Indirizzo" value="" class="radius" required />
                        </p>
                        <p>
                            <input type="text" id="codicefiscale" name="codice_fiscale" placeholder="Codice Fiscale" value="" class="radius" required />
                            <input type="hidden" id="ruolo" name="ruolo" value="user" />
                            <input type="hidden" id="fotoprofilo" name="fotoprofilo" value="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQICtbZwKPynpVYDJGD_1HNgZnzXWqc8PV-I-uk-SlAP5D91nlHZpJ_0Z7bhN018Koy0yA&usqp=CAU" />
                        </p>
                        <p>
                            <button class="radius title" name="signup">Registrati Dolphin</button>
                        </p>
                    </form>
                </div>
                <!--loginform-->
            </div>
            <!--loginboxinner-->
        </div>
        <!--loginbox-->
    </div>

</body>
</html>